@import "../fn";

.bg{
    width: 640px;
    height: 5208px;
    position: relative;
}
.bg_0{
    background: url("./bg_0.jpg");
    background-size: 640px 1767px;
    width: 640px;
    height: 1767px;
}
.bg_1{
    background: url("./bg_1.jpg");
    background-size: 640px 2433px;
    width: 640px;
    height: 2433px;
}
.bg_2{
    background: url("./bg_2.jpg");
    background-size: 640px 1008px;
    width: 640px;
    height: 1008px;
}

.item_0{
    @include item("./item_0.png",325px,170px,60px);
}

.item_1{
    @include item("./item_1.png",637px,467px,230px);
}

.item_2{
    @include item("./item_2.png",637px,263px,697px);
}

.item_3{
    @include item("./item_3.png",296px,192px,960px);
}

.item_4{
    @include item("./item_4.png",300px,202px,1152px);
}

.timeline{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:1354px;
}
