@mixin item($bg,$w,$h,$y:0,$x:50%){
  &:after{
    content:'';
    display: block;
    background: url($bg);
    background-size: $w $h;
    width: $w;
    height: $h;
    position: absolute;
    left: $x;
    top:$y;
    transform: translateX(-50%);
  }
}

@mixin bg($bg,$w,$h){
  background: url($bg);
  background-size: $w $h;
  width: $w;
  height: $h;
}
