.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page-inner{
  height: 100vh;
  overflow: hidden;
}
.page-inner.disabled{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page{
  position: relative;
}

.page-1{
  width: 100vw;
  height: 100vh;
  background: #2c509d;
}

.page-2{
  width: 100vw;
  height: 5208px;
  background: darkred;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.active .bounceInDown {
  animation-name: bounceInDown;
}

.timeline-item{
  margin-top: 30px;
  opacity:1;
  transform: translateY(0px);
  transition: transform 1000ms,opacity 500ms;
}
.timeline-item.hide{
  opacity: 0;
  transform: translateY(100px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.active .fadeIn {
  animation-name: fadeIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.active .zoomIn {
  animation-name: zoomIn;
}
